# Defconfig
#
# Created: July 29 2025
# Edited: 2025-Aug-16 11:45


if SHIELD_CRADIO_DONGLE

config ZMK_KEYBOARD_NAME
    default "ばか"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

# Set number of peripherals the dongle will have
# 1 for unibody while 2 for left and right and then etc

config ZMK_SPLIT_BLE_CENTRAL_PERIPHERALS
    default 2

# set number of peripherals and desired number of BT profiles

config BT_MAX_CONN
    default 6

# Set to the same number as BT_MAX_CONN

config BT_MAX_PAIRED
    default 6



endif

if SHIELD_CRADIO_LEFT || SHIELD_CRADIO__RIGHT

CONFIG_BT_CTLR_TX_PWR_PLUS_8=y

 # Battery Levels    
CONFIG_BT_BAS=y
CONFIG_ZMK_SPLIT_ROLE_CENTRAL=n
CONFIG_ZMK_SPLIT_BLE_CENTRAL_BATTERY_LEVEL_PROXY=y
CONFIG_ZMK_SPLIT_BLE_CENTRAL_BATTERY_LEVEL_QUEUE_SIZE=3
CONFIG_ZMK_SPLIT_BLE_CENTRAL_BATTERY_LEVEL_FETCHING=y
config ZMK_SPLIT
    default y

endif
