# Defconfig
#
# Created by: Nathan Peralta
# Created: July 29 2025
# Edited: July 29 2025


if SHIELD_FERRIS_DONGLE

config ZMK_KEYBOARD_NAME
    default "Nper4lta"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

config ZMK_SPLIT
    default y

# Set number of peripherals the dongle will have
# 1 for unibody while 2 for left and right and then etc

config ZMK_SPLIT_BLE_CENTRAL_PERIPHERALS
    default 2

# set number of peripherals and desired number of BT profiles 

config BT_MAX_CONN
    default 6

# Set to the same number as BT_MAX_CONN

config BT_MAX_PAIRED
    default 6

endif

if SHIELD_CRADIO_LEFT || SHIELD_CRADIO__RIGHT

config ZMK_SPLIT
    default y

endif
