# The Kconfig shield
#
# Created: July 29 2025
# Edited: July 29 2025


config SHIELD_FERRIS_DONGLE
    def_bool $(shields_list_contains,ferris_dongle)

config SHIELD_CRADIO_LEFT
    def_bool $(shields_list_contains,cradio_left)

config SHIELD_CRADIO__RIGHT
    def_bool $(shields_list_contains,cradio_right)


